
.page {
  max-width: 100%;
  margin: auto auto;
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  font-family: "Hiragino Sans GB";
}
.content {
  position: absolute;
  width: 100%;
  top: 40px;
  bottom: 0;
  overflow: auto;
}
.iconfont {
  font-size: 24px;
  color: #fff;
}
.iconfont:active {
  opacity: 0.7;
}
.v-invalid {
  top: 8px;
  right: 15px;
  position: absolute;
}
.register {
  width: 96% !important;
  margin: 80px auto 20px;
  height: 46px;
  line-height: 46px;
  border: 1px solid #d9d9d9;
  background-color: #47cfb9;
}
.register:active {
  border: 1px solid #ccc;
  background-color: #43ab9a;
}
.login {
  width: 50%;
  float: left;
  display: block;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;
}

.weui-btn[data-v-669f43be] {
  width: 80px;
  font-size: 12px;
  float: right;
  margin-left: 10px;
  height: 24px;
  line-height: 24px;
  margin-top: 3px;
}
ul[data-v-669f43be],
li[data-v-669f43be] {
  margin-left: 20px;
  line-height: 30px;
}
.underline[data-v-669f43be],
li[data-v-669f43be] {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.underline[data-v-669f43be]:active,
li[data-v-669f43be]:active {
  background-color: #ccc;
}
li[data-v-669f43be] {
  list-style-type: none;
}
.iconfont[data-v-669f43be] {
  font-size: 16px;
  color: #47cfb9;
  padding-right: 5px;
}

#page[data-v-7530429c] {
  width: 80px;
  background-color: #fff;
  height: auto;
  text-align: center;
}
#page p[data-v-7530429c] {
  font-size: 14px;
  color: #333;
  line-height: 30px;
  border-top: 1px solid #b8d950;
  cursor: pointer;
}
#page p[data-v-7530429c]:first-child {
  border-top: none;
}
#page p[data-v-7530429c]:hover {
  background-color: #bef7ee;
}
#page p[data-v-7530429c]:active {
  background-color: #ccc;
}

header[data-v-6c0cbf9f] {
  height: 40px;
  background: -webkit-linear-gradient(left top, #47cfb9, #b8d950);
  background: linear-gradient(left top, #47cfb9, #b8d950);
}
header .login[data-v-6c0cbf9f],
header .signup[data-v-6c0cbf9f],
header .logout[data-v-6c0cbf9f] {
  padding: 8px;
  font-size: 14px;
  float: right;
}
header .login[data-v-6c0cbf9f] {
  color: #00f;
}
header .login[data-v-6c0cbf9f]:active {
  color: #b70a0a;
}
header .signup[data-v-6c0cbf9f] {
  margin-right: 30px;
  color: #333;
}
header .signup[data-v-6c0cbf9f]:active {
  color: #b70a0a;
}
header .logout[data-v-6c0cbf9f] {
  margin-right: 30px;
  color: #b70a0a;
}
header .logout[data-v-6c0cbf9f]:active {
  color: #00f;
}
header .search[data-v-6c0cbf9f] {
  width: 400px;
  max-width: 40%;
  float: left;
  background: #fff;
  height: 24px;
  margin: 8px 15px;
  border-radius: 5px;
}
header .search .weui-icon-search[data-v-6c0cbf9f] {
  float: left;
  max-width: 6%;
  padding: 0 2%;
}
header .search .weui-search-bar__input[data-v-6c0cbf9f] {
  height: 24px;
  border: none;
  width: 88%;
  float: left;
  outline: none;
}
.weui-form-preview__hd[data-v-6c0cbf9f] {
  background-color: #f3f3f3;
  height: 30px;
}
.weui-form-preview__hd .weui-btn[data-v-6c0cbf9f] {
  line-height: 30px;
}
.weui-form-preview__bd[data-v-6c0cbf9f] {
  border-bottom: 1px solid #f3f3f3;
  padding: 5px 15px;
  height: 30px;
}
.weui-form-preview__bd .weui-form-preview__item[data-v-6c0cbf9f] {
  margin-left: 15px;
}
.weui-form-preview__bd .weui-btn[data-v-6c0cbf9f] {
  line-height: 30px;
}
.hide[data-v-6c0cbf9f] {
  position: fixed;
  background-color: #000;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  max-width: 100%;
  margin: 0 auto;
}
.hide-off[data-v-6c0cbf9f] {
  left: 0;
  right: 0;
  top: 24%;
  width: 50%;
  height: 360px;
  z-index: 1000;
  margin: 0 auto;
  position: fixed;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
}
.hide-off .weui-cells[data-v-6c0cbf9f] {
  margin: 50px 0;
}
.hide-off .weui-cells .weui-label[data-v-6c0cbf9f] {
  color: #888;
}
.hide-off .weui-btn[data-v-6c0cbf9f] {
  width: 80%;
}
.show-message[data-v-6c0cbf9f] {
  top: 30%;
  width: 300px;
  height: 300px;
}
.show-message .title[data-v-6c0cbf9f] {
  font-size: 24px;
  margin-top: 40px;
  color: #333;
}
.show-message .content[data-v-6c0cbf9f] {
  font-size: 24px;
  margin-top: 80px;
  color: #6c8030;
}
.wran[data-v-6c0cbf9f] {
  border: 1px solid #e64340;
  color: #e64340;
}
.wran[data-v-6c0cbf9f]:active {
  border: 1px solid #e48987;
  color: #e48987;
}

.page[data-v-33701ad9] {
  background: #fff;
  position: fixed;
  width: 100%;
  max-width: 800px;
  height: 100%;
}
.page .mui-content[data-v-33701ad9] {
  background: #fff;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.page .mui-content .logo[data-v-33701ad9] {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.weui-cells[data-v-33701ad9]:before {
  border-top: none;
}
.weui-cell[data-v-33701ad9]:before {
  left: 0;
}
.weui-cell_hd[data-v-33701ad9] {
  width: 20%;
}
.weui-cell_primary[data-v-33701ad9] {
  width: 80%;
}

.page[data-v-bdd5393a] {
  background: #fff;
  position: fixed;
  width: 100%;
  max-width: 800px;
  height: 100%;
}
.page .mui-content[data-v-bdd5393a] {
  background: #fff;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.page .mui-content .logo[data-v-bdd5393a] {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.weui-cells[data-v-bdd5393a]:before {
  border-top: none;
}
.weui-cell[data-v-bdd5393a]:before {
  left: 0;
}
.weui-cell_hd[data-v-bdd5393a] {
  width: 20%;
}
.weui-cell_primary[data-v-bdd5393a] {
  width: 80%;
}
